* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}

body {
    background-color: #141414;

}

header {}

.logo {

    height: 90px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;


}

.logo .imagem {
    width: 100%;
    height: auto;
}

h1 {
    color: #fefefe;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 50px;

}

.boxusuario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 250px;
    justify-content: space-between;


}

.usuariocard {
    
    margin: 7px;

}

.imagemcard {
    
    width: 160px;
    height: 160px;
    margin:0px;
    


}
.imagemcardplus{
    width: 160px;
    height: 160px;
    margin:0px;
    background-color:#212020;
    border-radius:8px;
    opacity: 0.4;
    
}

.imagemcard1 {
    border-radius: 8px;
    width:160px;
    height:160px;
    
    
    
}
.imagemplus{
    margin-left:45px;
    margin-top:45px;
}
.usuariocard:hover .imagemcardplus{
    opacity:1;
    border:solid white 1px;
    box-sizing:border-box;
    
}
.usuariocard:hover .imagemcard1{
    border:solid white 1px;
    font-weight:bold;
    cursor:pointer;
}
.nomecard {
    margin-top: 10px;
    
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #808080;

}
.usuariocard:hover .nomecard{
    color:white;
    font-weight:bold;
    
}

.areabotao {
    
    
    margin-top: 40px;
    text-align:center;


}

.botao {
    background-color: #141414;
    border: solid 1px white;
    color: white;
    padding: 10px 45px;
    font-size: 20px;
    border-radius:8px;
 

}
.botao:hover{
    background-color:white;
    color:#141414;
    cursor:pointer;
    transition:background-color .5s,color .5s;
}